<div class="input__wrapper">
   <label class="input__label" for={{this.inputName}}>{{this.label}}</label>
   <input class="input__field" id={{this.inputName}} type={{this.inputType}} {{#if this.required}}required{{/if}} />
   <div class="input__error">{{this.error}}</div>
</div>
