<table class="profile-table">
  <tbody>
    {{#each this.rows}}
      <tr>
        <td class="profile-table__label">
          {{#if link}}
            <a
              href={{link}}
              class="link {{#if highlight}}link--highlight{{/if}}"
            >
              {{label}}
            </a>
          {{else}}
            {{label}}
          {{/if}}
        </td>
        <td class="profile-table__value">
          {{#if edit}}
            <input
              id={{inputID}}
              value={{value}}
              class="profile-table__input"
              type={{inputType}}
            />
          {{else}}
            {{value}}
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
